#include "AppInsights.xcconfig"

BUILD_NUMBER = 3
VERSION_STRING = 1.0-alpha.3
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) MSAI_VERSION="@\""$(VERSION_STRING)"\"" MSAI_BUILD="@\""$(BUILD_NUMBER)"\"" MSAI_C_VERSION="\""$(VERSION_STRING)"\"" MSAI_C_BUILD="\""$(BUILD_NUMBER)"\""
MSAI_ARM_ARCHS = armv7 armv7s arm64
MSAI_SIM_ARCHS = x86_64 i386
ARCHS = $(MSAI_ARM_ARCHS)
VALID_ARCHS = $(MSAI_ARM_ARCHS)
