#include "release.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) MSAI_CONFIGURATION_$(CONFIGURATION) MSAI_FEATURE_CRASH_REPORTER=0 MSAI_FEATURE_TELEMETRY=1 MSAI_VERSION="@\""$(VERSION_STRING)"\"" MSAI_BUILD="@\""$(BUILD_NUMBER)"\"" MSAI_C_VERSION="\""$(VERSION_STRING)"\"" MSAI_C_BUILD="\""$(BUILD_NUMBER)"\""
